<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <section class="sidebar-nav-item">
        <h3>Contact</h3>
        <p>Email: <a href="mailto:tmaiaa@siue.edu">tmaiaa@siue.edu</a></p>
        <p>Phone: <a href="tel:+1234456789">+1 234-456-789</a></p>
        <p>Linked In: <a href="www.linkedin.com/in/thy-mai-66838b291">www.linkedin.com/in/thy-mai-66838b291</a></p>
      </section>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <section class="sidebar-nav-item">
        <h3>Award</h3>
      </section>
    </nav>

  </div>
</div>
