.skills-container {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;

    svg {
        color: white;
    }
}
  
.skills-container .skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
}
  
.skills-container .skills-grid .skill {
    align-items: center;
    text-align: left;
}

.skill-card {
    background-color: #1e1e1e; /* Card background color */
    border-radius: 8px;
    padding: 20px;
    width: 200px; /* Adjust card width */
    height: 200px; /* Adjust card height */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer; /* Indicate it's clickable (optional) */


  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color:white;
  }

  .date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0.75rem;
  }

  .dates {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: #444;
  }

  .award-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
  }
}